section {
    margin-bottom: 100px;
}

body {
    font-family: Helvetica;
    font-style: normal;
    font-size: 16px;
}

/* Navbar */
.nav-item {
    padding-left: 32px;
    font-family: Helvetica;
    font-style: normal;
    color: #000000;
    font-weight: normal;
}

/* Navbar */

/* Gambar Mobil */
@media screen and (min-width: 576px) {
    #rent-car {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    #rent-car {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    #rent-car {
        width: 70%;
    }
}

@media screen and (min-width: 1200px) {
    #rent-car {
        width: 50%;
    }
}

#img-car {
    width: 100%;
    height: 407px;
    bottom: 0;
    top: 0;
    
}

@media screen and (min-width: 300px) {
    #img-car {
        width: auto;
        height: 250px;
        margin-top: 10%;
        
    }
}

@media screen and (min-width: 500px) {
    #img-car {
        width: auto;
        height: auto;
        margin-top: 0;
        
    }
}

@media screen and (min-width: 576px) {
    #img-car {
        width: 100%;
        height: auto;
        
    }
}

@media screen and (min-width: 768px) {
    #img-car {
        width: auto;
        height: auto;
        
    }
}

@media screen and (min-width: 992px) {
    #img-car {
        width: 100%;
        
    }
}

/* Gambar Mobil */

/* Button */
.btn {
    background-color: #5CB85F;
    font-family: Helvetica;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

/* Button */

/* Home */
#rent-car {
    position: static;
}

#title-rental {
    margin-top: 100px;
}

/* Home */

/* Our Service */

@media screen and (max-width: 992px) {
    #service-img {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #service-img {
        width: 70%;
    }
}

@media screen and (max-width: 576px) {
    #service-img {
        width: 50%;
    }
}

/* Our Service */

/* Why Us */
@media screen and (min-width: 576px) {
    .card-item .row .col-md-3 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .card-item .row .col-md-3 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .card-item .row .col-md-3 {
        flex: 1 1 auto;
        width: 20%;
    }
}

/* Why Us */

/* Get Start */
#get-start {
    background-color: #0D28A6;
    color: #FFFFFF;
    border-radius: 13px;
    margin-top: 150px
}

#title-start {
    margin-top: 64px;
}

#btn-start {
    margin-bottom: 72px;
}

/* Get Start */

/* FAQ */
@media screen and (max-width: 576px) {
    #title-faq {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    #title-faq {
        text-align: center;
    }
}


.accordion-button {
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    margin-top: 8px;
}

/* FAQ */

/* footer */
.footer-link {
    text-decoration: none;
    color: black;
}

/* footer */

/* owl carousel */
#owl-card {
    margin-right: 50px;
    margin-left: 50px;
}

#owl-testi {
    background-color: #F1F3FF;
    border-radius: 8px;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 300px) {
    #owl-img {
        width: 80px;
        margin-left: 30%;
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 490px) {
    #owl-testi {
        margin-left: -20%;
        margin-right: -20%;
    }
}

@media screen and (min-width: 400px) {
    #owl-img {
        width: 100px;
        margin-left: 30%;
        margin-bottom: 10%;
    }
}


@media screen and (min-width: 500px) {
    #owl-img {
        width: 100px;
        margin-left: 30%;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 576px) {
    #owl-img {
        width: 100px;
        margin-left: 35%;
    }
}

@media screen and (min-width: 768px) {
    #owl-img {
        width: 120px;
        margin-left: 40%;
    }
}

@media screen and (min-width: 992px) {
    #owl-img {
        width: 120px;
        margin-left: 40%;
    }
}


@media screen and (min-width: 1200px) {
    #owl-img {
        width: 120px;
        margin-left: 40%;
    }
}

@media screen and (min-width: 1400px) {
    #owl-img {
        width: 120px;
        margin-left: 43%;
        padding-top: 20px;
    }
}

@media screen and (min-width: 1444px) {
    #owl-img {
        width: 120px;
        margin-left: 0;
        margin-right: 46px;
        padding-top: 95px;
        padding-bottom: 95px;
    }
}

@media screen and (min-width: 300px) {
    #owl-rate {
        width: 100px;
        margin-left: 20%;
        padding-top: 0;
        padding-bottom: 8px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 400px) {
    #owl-rate {
        width: 100px;
        margin-left: 28%;
        padding-top: 0;
        padding-bottom: 8px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 500px) {
    #owl-rate {
        width: 100px;
        margin-left: 28%;
        padding-top: 20px;
        padding-bottom: 8px;
    }
}

@media screen and (min-width: 576px) {
    #owl-rate {
        width: 100px;
        margin-left: 35%;
        padding-top: 20px;
        padding-bottom: 8px;
    }
}

@media screen and (min-width: 768px) {
    #owl-rate {
        width: 100px;
        margin-left: 50%;
        padding-top: 20px;
        padding-bottom: 8px;
    }
}

@media screen and (min-width: 992px) {
    #owl-rate {
        width: 100px;
        margin-left: 50%;
        padding-top: 20px;
        padding-bottom: 8px;
    }
}

@media screen and (min-width: 1200px) {
    #owl-rate {
        width: 100px;
        margin-left: 49%;
        padding-top: 20px;
        padding-bottom: 8px;
    }
}

@media screen and (min-width: 1400px) {
    #owl-rate {
        width: 100px;
        margin-left: 53%;
        padding-top: 20px;
        padding-bottom: 8px;
    }
}

@media screen and (min-width: 1444px) {
    #owl-rate {
        width: 100px;
        margin-left: 0%;
        padding-top: 69px;
        padding-bottom: 8px;
    }
}

.owl-text1 {
    padding-bottom: 8px;
}

.text-testi {
    margin-bottom: 30px;
}

.owl-theme .owl-dots {
    display: none;
}

.owl-prev,
.owl-next {
    position: absolute;

}

.owl-prev {
    left: 45%;
}

.owl-next {
    right: 45%;
}

.owl-prev span,
.owl-next span {
    font-size: 30px;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: -10px;
    padding-bottom: 5px;
    border-radius: 100%;
}

.owl-carousel .owl-nav button.owl-prev,
button.owl-next {
    background-color: transparent !important;
}

.owl-prev span:hover,
.owl-next span:hover {
    color: #FFFFFF;
    background: #5CB85F;
}

@media screen and (min-width: 300px) {
    .owl-prev {
        left: 30%;
    }
}

@media screen and (min-width: 300px) {
    .owl-next {
        right: 30%;
    }
}

@media screen and (min-width: 500px) {
    .owl-prev {
        left: 35%;
    }
}

@media screen and (min-width: 500px) {
    .owl-next {
        right: 35%;
    }
}

@media screen and (min-width: 576px) {
    .owl-prev {
        left: 38%;
    }
}

@media screen and (min-width: 576px) {
    .owl-next {
        right: 38%;
    }
}

@media screen and (min-width: 768px) {
    .owl-prev {
        left: 40%;
    }
}

@media screen and (min-width: 768px) {
    .owl-next {
        right: 40%;
    }
}

@media screen and (min-width: 992px) {
    .owl-prev {
        left: 42%;
    }
}

@media screen and (min-width: 992px) {
    .owl-next {
        right: 42%;
    }
}

@media screen and (min-width: 1200px) {
    .owl-prev {
        left: 43%;
    }
}

@media screen and (min-width: 1200px) {
    .owl-next {
        right: 43%;
    }
}

@media screen and (min-width: 1400px) {
    .owl-prev {
        left: 45%;
    }
}

@media screen and (min-width: 1400px) {
    .owl-next {
        right: 45%;
    }
}

/* owl carousel */

/* rental page */

.btn-cari{
    padding: 11px 15%;
}

.rental {
    margin-top: -130px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 1%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.dropdown {
    position: relative;
    margin-top: 10px;
    height: 45px;
}

.dropdown::before {
    content: '';
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 10000;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.dropdown.active::before {
    top: 22px;
    transform: rotate(-225deg);
}

.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 15px;
}

.dropdown .option{
    position: absolute;
    top: 45px;
    width: 100%;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    z-index: 999;
    font-size: 15px;
}

.dropdown.active .option{
    display: block;
}

.dropdown .option div {
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown .option div:hover {
    color: #5CB85F;
}

#tanggal.dropdown::before{
    display: none;
}

#waktu.dropdown::before{
    display: none;
}

#penumpang.dropdown::before{
    display: none;
}

.padding {
    padding: 10px 40% 10px 40%;
    border: none;
}

.clock {
    position: absolute;
    right: 20px;
    top: 12px;
    width: 20px;
    height: 20px;
}

.users {
    position: absolute;
    right: 20px;
    top: 12px;
    width: 20px;
    height: 20px;
}

.card .card-img-top {
    object-fit: cover;
}

#input-tanggal {
    color: #75758b;
}